@font-face {
    font-family: Harry;
    src: url(public/Fonts/HARRYP__.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.harry{
    font-family: Harry;
    font-size: 80px;
    color: #46423b;
    text-align: center;
    margin-top: 15px;
}